<div class="container-fluid">
  <%= form_for :csv do |f| %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit "Load File" %>
  <% end %>
</div>

<% @created_at = Array.new %>
<% @duration = Array.new %>
<% @passed_tests = Array.new %>
<% @failed_tests = Array.new %>

<% for i in 0 .. @file.count - 1 do %>
  <% @created_at[i] = @file[i][2] %>
  <% @duration[i] = @file[i][4]%>
  <% @passed_tests[i] = @file[i][11]%>
  <% @failed_tests[i] = @file[i][12]%>
<% end %>


<% @data = {
  labels: @created_at,
  datasets: [
    {
        label: "Duration vs Time",
        backgroundColor: "rgba(0,0,0,0.2)",
        borderColor: "rgba(0,0,0,1)",
        data: @duration
    }
  ]
} %>

<div class="second-chart">
  <%= line_chart @data %>
</div>


<% for i in 0 .. @created_at.count - 1 do %>
  <% @created_at[i] = @created_at[i].to_date %>
<% end %>


<% for i in 0 .. @created_at.count - 1 do %>
  <% for j in i + 1 .. @created_at.count - 1  do %>
    <% if (@created_at[i] == @created_at[j]) && (@created_at[i] != nil) %>
      <% @created_at[j] = nil %>
      <% @passed_tests[i] = @passed_tests[i].to_i + @passed_tests[j].to_i %>
      <% @passed_tests[j] = nil %>
      <% @failed_tests[i] = @failed_tests[i].to_i + @failed_tests[j].to_i %>
      <% @failed_tests[j] = nil %>
    <% end %>
  <% end %>
<% end %>

<% @created_at.delete(nil) %>
<% @passed_tests.delete(nil) %>
<% @failed_tests.delete(nil) %>

<% @data = {
  labels: @created_at,
  datasets: [

    {
        label: "Failed",
        backgroundColor: "rgb(189,19,19)",
        borderColor: "rgb(189,19,19)",
        data: @failed_tests
    },
    {
        label: "Passed",
        backgroundColor: "rgb(38,114,38)",
        borderColor: "rgb(38,114,38)",
        data: @passed_tests
    }
  ]
} %>

<% @options = {
  responsive: false,
  scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
              }]
            }
          }
%>

<div class="first-chart">
  <%= bar_chart @data %>
</div>
