<div class="container-fluid">
  <%= form_for :csv do |f| %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit "Load File" %>
  <% end %>
</div>

<% @created_at = Array.new %>
<% @duration = Array.new %>
<% @summary_status = Array.new %>

<% for i in 0..@file.count - 1 do %>
  <% @created_at[i] = @file[i][2] %>
  <% @summary_status[i] = @file[i][3]%>
  <% @duration[i] = @file[i][4]%>
<% end %>

<% @data = {
  labels: @created_at,
  datasets: [
    {
        label: "Duration vs Time",
        backgroundColor: "rgba(0,0,0,0.2)",
        borderColor: "rgba(0,0,0,1)",
        data: @duration
    }
  ]
} %>

<%= @duration.count %>
<%= @created_at.count %>
<%= @summary_status.count %>

<div class="second-chart">
  <%= line_chart @data %>
</div>


<% for i in 0..@created_at.count - 1 do %>
  <% @created_at[i] = @created_at[i].to_date %>
<% end %>

<% @a = Array.new %>

<% for i in 0 .. @summary_status.count - 1 do %>
  <% @a[i] = 0 if @summary_status[i] == "passed" %>
  <% @a[i] = 1 if @summary_status[i] == "failed" %>
  <% @a[i] = 2 if @summary_status[i] == "error" %>
  <% @a[i] = 3 if @summary_status[i] == "stopped" %>
<% end %>

<%= @a[1] %>

<% @data = {
  labels: @created_at,
  datasets: [
    {
        label: "Stack Chart, 0 for passed, 1 for failed, 2 for failed, 3 for stopped",
        backgroundColor: "rgba(0,0,0,0.2)",
        borderColor: "rgba(0,0,0,1)",
        data: @a
    }
  ]
} %>

<div class="first-chart">
  <%= bar_chart @data %>
</div>
