<div class="container-fluid col-sm-4">
  <%= form_for :csv do |f| %>
    <%= f.label :file %>
    <%= f.file_field :file,  accept: '.csv', onchange: 'triggerValidation(this)' %>
    <%= f.submit "Load File" %>
  <% end %>
</div>
<div class="container-fluid">
  <h3>Load your CSV file. If not selected app will load default(session_history.csv)</h3>
</div>

<div class="first-chart col-sm-8", style="width: 50%;">
  <%= line_chart @data_l, @options_l %>
</div>
<div class="col-sm-4">
  <h3>Chart: "Duration vs Time"</h3>
</div>

<div class="second-chart col-sm-8">
  <%= bar_chart @data_c, @options_c %>
</div>
<div class="col-sm-2">
  <h3>Stacked Bar Chart</h3>
  <h4>Abnormal is number of failed tests, that bigger or equal than the average sum of non-zero elements (<%= @avg %>) </h4>
</div>
