<div class="container-fluid col-sm-4">
  <%= form_for :csv do |f| %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit "Load File" %>
  <% end %>
</div>
<div class="container-fluid">
  <h3>Load your CSV file. If not selected app will load default(session_history.csv)</h3>
</div>

<% @created_at = Array.new %>
<% @duration = Array.new %>
<% @passed_tests = Array.new %>
<% @failed_tests = Array.new %>
<% @tests_count = Array.new %>
<% @normal = Array.new %>

<% for i in 0 .. @file.count - 1 do %>
  <% @created_at[i] = @file[i][2] %>
  <% @duration[i] = @file[i][4] %>
  <% @passed_tests[i] = @file[i][11].to_i %>
  <% @failed_tests[i] = @file[i][12].to_i %>
<% end %>


<% @data = {
  labels: @created_at,
  datasets: [
    {
        label: "Duration vs Time",
        backgroundColor: "rgba(0,0,0,0.2)",
        borderColor: "rgba(0,0,0,1)",
        data: @duration
    }
  ]
} %>

<% @options = {
  responsive: true
} %>

<div class="first-chart col-sm-8", style="width: 50%;">
  <%= line_chart @data, @options %>
</div>
<div class="col-sm-4">
  <h3>Chart: "Duration vs Time"</h3>
</div>

<% for i in 0 .. @created_at.count - 1 do %>
  <% @created_at[i] = @created_at[i].to_date %>
<% end %>

<% @i = 0 %>
<% @avg = 0 %>
<% @failed_tests.each do |f| %>
  <% if f != 0 %>
    <% @avg = @avg + f %>
    <% @i = @i + 1 %>
  <% end %>
<% end %>
<% @avg = @avg / @i %>

<% for i in 0 .. @created_at.count - 1 do %>
  <% if @passed_tests[i].present? and @failed_tests[i].present? %>
    <% if (@passed_tests[i] + @failed_tests[i]) == 0  %>
      <% @created_at[i] = nil %>
      <% @passed_tests[i] = nil %>
      <% @failed_tests[i] = nil %>
    <% end %>
  <% end %>
  <% for j in i + 1 .. @created_at.count - 1  do %>
    <% if (@created_at[i] == @created_at[j]) && (@created_at[i] != nil) %>
      <% @created_at[j] = nil %>
      <% @passed_tests[i] = @passed_tests[i] + @passed_tests[j] %>
      <% @passed_tests[j] = nil %>
      <% @failed_tests[i] = @failed_tests[i] + @failed_tests[j] %>
      <% @failed_tests[j] = nil %>
    <% end %>
  <% end %>
<% end %>

<% @created_at.delete(nil) %>
<% @passed_tests.delete(nil) %>
<% @failed_tests.delete(nil) %>
<% @abnormal = Array.new %>

<% for i in 0 .. @failed_tests.count - 1 do %>
  <% if (@failed_tests[i] >= @avg) %>
    <% @abnormal[i] = @failed_tests[i] %>
  <% else %>
    <% @abnormal[i] = 0 %>
  <% end %>
<% end %>

<% @data = {
  labels: @created_at,
  datasets: [
    {
        label: "abnormal",
        backgroundColor: "rgb(0, 0, 0)",
        borderColor: "rgb(0, 0, 0)",
        data: @abnormal
    },
    {
        label: "Failed",
        backgroundColor: "rgb(189,19,19)",
        borderColor: "rgb(189,19,19)",
        data: @failed_tests
    },
    {
        label: "Passed",
        backgroundColor: "rgb(38,114,38)",
        borderColor: "rgb(38,114,38)",
        data: @passed_tests
    }
  ]
} %>

<% @options = {
  responsive: true,
  scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
              }]
            }
          }
%>

<div class="second-chart col-sm-8">
  <%= bar_chart @data, @options %>
</div>
<div class="col-sm-2">
  <h3>Stacked Bar Chart</h3>
  <h4>Abnormal is number of failed tests, that bigger or equal than the average sum of non-zero elements (<%= @avg %>) </h4>
</div>
